<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<h1>Register</h1>
		<form method="POST" action="{{ url_for('register') }}">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required>
			<hr>
			<h4>La contraseña debe contener al menos:
				8 caracteres;
				una letra mayúscula;
				una letra minúscula;
				un número.
			</h4>
			<hr>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>
			<br><br>
			<input type="submit" value="Register">
		</form>
	</body>
</html>